

:root{
    --cor-de-fundo: #20bcbe;
    --amarelo: #f1ff57;
    --branco: #ffffff;
    --botao-ativo: #388337;
    --botao-inativo: rgba(58,55,94,0.5)
}


body{

    background-color: var(--cor-de-fundo);
    color: var(--branco);
    font-family: 'Chakra Petch', sans-serif;
}

.conteudo.principal{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
}